<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
  <title>New Page</title>
</head>
<body>
  <h1>New Page</h1>
  <figure>
    <img 
    src="/img/pexels-evie-shaffer-4004375.jpg" 
    alt="a white feather on a black background"
    height="400px"
    width="auto"
    style="object-fit: cover;"
    >
    <figcaption>Image by Pexels: Evie Shaffer</figcaption>
  </figure>
</body>
</html>